:root {
  --footer-height: 60px;
  --logo-height: 8rem;
}

button {
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  width: auto;
  background: none;
  appearance: none;
  color: inherit;
  font: inherit;
  line-height: normal;
  cursor: pointer;
}
